1. Please let me know your color of Choice or Brand/Organization Color.
2. An Email where people would Contact you at.
3. Phone Number of your Trust.
4. Any Social Media Links.
5. Pictures of the Key Members of the Organization along with their Social Media.
6. A 1 line Moto of your organization which you would like to have specifically in the front page.
7. 3 to 4 achievements of the organization.
